html, body  {
   padding: 0px;
   margin: 0px auto;
   background-color: #f4f0e4;
   background-image: url(./sg_topforcodec_media/backgroundc.gif);
   background-repeat:repeat-x;
}

#container{
	margin: 0px auto; /* auto sets centering */
	width: 950px;
}
#headercontainer{
	margin: 0px auto;
	height: 215px;
}
#leaderboardborder{
	margin-top: 10px;
	height: 90px;
	border-width: 1px;
	border-color: blue;
	border-style: dashed;
}

#leaderboard{
	padding-top: 10px;
	height: 90px;
}
#topmenucontainer{
	clear: both;
	top: 100px;
	margin: 0px auto;
	height: 120px;
	background: url(./sg_topforcodec_media/layer1.gif) no-repeat 0% 0px;
}
#content{
 	clear: both;
 	width:950; 
 	float:left;
 	background-color: #ffffff;
 }
#lhmenu{
	margin-right: 5px;
} 
#hwcontent{
	float:left;
	width:625px;
	top: 0px;
	}
#googleads{
 	margin-top:10px; 
 	width:180px; 
 	float:left;
 	background-color: #ffffff;
 	text-align: center;
 } 
#mpuads1{
 	margin-top:10px; 
 	width:310px; 
 	float:left;
 	background-color: #ffffff;
 	text-align: center;
}
#googleadsmpu1{
	float:left;
} 
a  {
   text-decoration: none;
   color: #000000;
}

a ins  {
   text-decoration: none;
}

#morefancymenucontainer{
	margin: 0px auto;
	FONT-SIZE: 12px; 
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	padding: 10px;
	background: url(./sg_topforcodec_media/morefancy.gif) no-repeat 0% 0px;

}

#searchtipsfancymenucontainer{
	margin: 0px auto;
	FONT-SIZE: 12px; 
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
	padding: 10px;
	background: url(./sg_topforcodec_media/searchtipsfancy.gif) no-repeat 0% 0px;
}



#hwlogo1button,
#hwlogo1ie6button 
  {
   visibility: visible;
   float:left;
   top: 0px;
   z-index: 4;
   width: 175px;
   height: 100px;
}

#spacer1{float:left; width:42px;}

#spacer2,
#spacer3,
#spacer4 {float:left; width:10px;}

#history1button, 
#timeline1button,
#quiz1button,
#more1button  {
   visibility: visible;
   float:left;
   margin-top: 43px;
   z-index: 4;
   width: 111px;
   height: 58px;
} 

#history2button,
#timeline2button,
#quiz2button,
#more2button  {
   visibility: visible;
   float:left;
   margin-top: 56px;
   z-index: 4;
   width: 111px;
   height: 58px;
}

#spacer5 {float:left; width:30px;}

#hwlogo1button a:hover,
#hwlogo1ie6button a:hover  {
   background-position: -175px 0%;
}

#timeline1button a:hover,
#more1button a:hover,
#quiz1button a:hover,
#history1button a:hover,
#history2button a:hover,
#timeline2button a:hover,
#quiz2button a:hover,
#more2button a:hover  {
   background-position: -111px 0%;
}


#hwlogo1button a  {
   background: url(./sg_topforcodec_media/hwlogo1button.png) no-repeat 0% 0px;
   display: block;
   height: 100px;
   width: 175px;
}

#hwlogo1ie6button a  {
   background: url(./sg_topforcodec_media/hwlogo1button.gif) no-repeat 0% 0px;
   display: block;
   height: 100px;
   width: 175px;
}

#history1button a,
#history2button a,
#timeline1button a,
#timeline2button a,
#quiz1button a,
#quiz2button a,
#more1button a,
#more2button a {
   display: block;
   height: 58px;
   width: 111px;
}
  
#history1button a  {
   background: url(./sg_topforcodec_media/history1button.gif) no-repeat 0% 0px;
}

#history2button a  {
   background: url(./sg_topforcodec_media/history2button.gif) no-repeat 0% 0px;
}

#timeline1button a  {
   background: url(./sg_topforcodec_media/timeline1button.gif) no-repeat 0% 0px;
}

#timeline2button a {
   background: url(./sg_topforcodec_media/timeline2button.gif) no-repeat 0% 0px;
}

#quiz1button a  {
   background: url(./sg_topforcodec_media/quiz1button.gif) no-repeat 0% 0px;
}

#quiz2button a {
   background: url(./sg_topforcodec_media/quiz2button.gif) no-repeat 0% 0px;
}

#more1button a  {
   background: url(./sg_topforcodec_media/more1button.gif) no-repeat 0% 0px;
}

#more2button a  {
   background: url(./sg_topforcodec_media/more2button.gif) no-repeat 0% 0px;
}

#background  {
   margin: 0px auto 0px auto;
   background: url(./sg_topforcodec_media/background.gif) repeat-x;
   height: 100px;
   width: 950px;
   position: relative;
}

#searchbox  {
   background-image: url(./sg_topforcodec_media/searchbutton2.gif);
   visibility: visible;
   float:left;
   margin-top: 25px;
   z-index: 5;
   width: 185px;
   height: 30px;
}

.search-text {border: none;}

.search-image { margin-top: 6px; margin-bottom: -6px;}

.search-alert {
background:transparent url(./sg_topforcodec_media/search-alert-arrow.png) no-repeat scroll 0 0;
color:#000000;
cursor:pointer;
display:none;
float:left;
font-size:12px;
font-family: Verdana;
margin-top:6px;
padding:10px 15px 5px;
position:absolute;
}

#IEbox {
	margin-left:-190px;
	margin-top: 5px;
}

#juitter{
	width: 238px;
	background-color: #fff;
	border:solid 1px #ddd;
}
#juitterheader{
	margin-left:3px;
	margin-top:3px;
}
#bottomnav {

}
.mddkred2{
	font-size: 12px;
	font-family: "Verdana","Arial","Helvetica","sans-serif";
	color: #5d0006;
	text-decoration: none;
}
.mddkred2:link{
	color: #5d0006;
}
.mddkred2:visited{
	color: #5d0006;
}
.mddkred2:hover{
	color: #ee5555;
}
.mddkred2:active{
	color: #ee5555;
}
